// nG⚡️ Design System﹒Flash﹒Animation

// Animations
@keyframes excited
  0%, 100%
    transform: translateX(calc(var(--amplitude) * 0))
  10%
    transform: translateX(calc(var(--amplitude) * -1))
  20%
    transform: translateX(calc(var(--amplitude) * 0.9))
  30%
    transform: translateX(calc(var(--amplitude) * -0.8))
  40%
    transform: translateX(calc(var(--amplitude) * 0.7))
  50%
    transform: translateX(calc(var(--amplitude) * -0.6))
  60%
    transform: translateX(calc(var(--amplitude) * 0.5))
  70%
    transform: translateX(calc(var(--amplitude) * -0.4))
  80%
    transform: translateX(calc(var(--amplitude) * 0.3))
  90%
    transform: translateX(calc(var(--amplitude) * -0.2))

@keyframes across
  0%
    transform: translateX(0%)
  100%
    transform: translateX(-100%)

// Pull transitions
.pull-down-enter-active,
.pull-down-leave-active,
.pull-up-enter-active,
.pull-up-leave-active
  transition: transform var(--duration-jogging) var(--delay, 0ms) var(--ease-brake)  !important

.pull-down-enter-from,
.pull-down-leave-to
  transform: translateY(-100%)

.pull-up-enter-from,
.pull-up-leave-to
  transform: translateY(100%)

// View transitions
//// Go left
.go-left-enter-active,
.go-left-leave-active
  position: absolute
  transform-origin: 100% 50%
  transition: background-color var(--duration-jogging) var(--delay, 0ms) ease, transform var(--duration-jogging) var(--delay, 0ms) var(--ease-rebound), opacity var(--duration-running) var(--delay, 0ms) ease

.go-left-enter-active
  transition-delay: var(--delay-late)

.go-left-leave-from
  background-color: hsla(0, 0%, 100%, 0)
  transform: perspective(100vw) scale(1) rotateY(0)
  opacity: 1

.go-left-leave-to
  background-color: hsla(0, 0%, 100%, .2)
  transform: perspective(100vw) scale(.75) rotateY(-45deg)
  opacity: 0

.go-left-enter-from
  transform: translateX(-200vw) skewX(-5deg)

.go-left-enter-to
  transform: translateX(0) skewX(0)

//// Go right
.go-right-enter-active,
.go-right-leave-active
  position: absolute
  transform-origin: 0% 50%
  transition: background-color var(--duration-jogging) var(--delay, 0ms) ease, transform var(--duration-jogging) var(--delay, 0ms) var(--ease-rebound), opacity var(--duration-running) var(--delay, 0ms) ease

.go-right-enter-active
  transition-delay: var(--delay-late)

.go-right-leave-from
  background-color: hsla(0, 0%, 100%, 0)
  transform: perspective(100vw) scale(1) rotateY(0)
  opacity: 1

.go-right-leave-to
  background-color: hsla(0, 0%, 100%, .2)
  transform: perspective(100vw) scale(.75) rotateY(45deg)
  opacity: 0

.go-right-enter-from
  transform: translateX(200vw) skewX(5deg)

.go-right-enter-to
  transform: translateX(0) skewX(0)

//// Go down
.go-down-enter-active,
.go-down-leave-active
  position: absolute
  transform-origin: 50% 0%
  transition: background-color var(--duration-jogging) var(--delay, 0ms) ease, transform var(--duration-jogging) var(--delay, 0ms) var(--ease-rebound), opacity var(--duration-running) var(--delay, 0ms) ease

.go-down-enter-active
  transition-delay: var(--delay-late)

.go-down-leave-from
  background-color: hsla(0, 0%, 100%, 0)
  transform: perspective(100vw) scale(1) rotateX(0)
  opacity: 1

.go-down-leave-to
  background-color: hsla(0, 0%, 100%, .2)
  transform: perspective(100vw) scale(.75) rotateX(-45deg)
  opacity: 0

.go-down-enter-from
  transform: translateY(200vw) skewY(5deg)

.go-down-enter-to
  transform: translateY(0) skewY(0)

//// Go up
.go-up-enter-active,
.go-up-leave-active
  position: absolute
  transform-origin: 50% 100%
  transition: background-color var(--duration-jogging) var(--delay, 0ms) ease, transform var(--duration-jogging) var(--delay, 0ms) var(--ease-rebound), opacity var(--duration-running) var(--delay, 0ms) ease

.go-up-enter-active
  transition-delay: var(--delay-late)

.go-up-leave-from
  background-color: hsla(0, 0%, 100%, 0)
  transform: perspective(100vw) scale(1) rotateX(0)
  opacity: 1

.go-up-leave-to
  background-color: hsla(0, 0%, 100%, .2)
  transform: perspective(100vw) scale(.75) rotateX(45deg)
  opacity: 0

.go-up-enter-from
  transform: translateY(-200vw) skewY(5deg)

.go-up-enter-to
  transform: translateY(0) skewY(0)

// Slide transitions
.slide-up-enter-active,
.slide-up-leave-active
  transition: transform var(--duration-jogging) var(--ease-rebound), opacity var(--duration-running) ease

.slide-up-enter-from
  transform: translateY(var(--start-position))
  opacity: 0

.slide-up-leave-to
  transform: translateY(calc(var(--start-position) * -1))
  opacity: 0

// Fade transitions
.fade-enter-active,
.fade-leave-active
  transition: opacity var(--duration-turtoise) ease
  transition-delay: calc(var(--order) * var(--delay-late))

.fade-enter-from,
.fade-leave-to
  opacity: 0

// Scale transitions
.scale-up-enter-active,
.scale-up-leave-active,
.scale-down-enter-active,
.scale-down-leave-active
  transition: transform var(--duration-turtoise) var(--ease-peps), opacity var(--duration-jogging) ease
  transform-origin: 50vw 50vh

.scale-down-enter-from,
.scale-down-leave-to
  transform: scale(1.2)
  opacity: 0

.scale-up-enter-from,
.scale-up-leave-to
  transform: scale(0.8)
  opacity: 0

// Switch transitions
.switch-enter-active,
.switch-leave-active
  transform-origin: center center

.switch-enter-active
  transition: transform var(--duration-running) var(--ease-rebound), opacity var(--duration-hare) ease !important

.switch-leave-active
  transition: transform var(--duration-running) var(--ease-inverted-rebound), opacity var(--duration-hare) ease var(--delay-late) !important

.switch-enter-from,
.switch-leave-to
  opacity: 0

.switch-enter-from
  transform: translateY(50%)

.switch-leave-to
  transform: translateY(50%)
