// nG⚡️ Design System﹒Flash﹒Animation

// Animations
@keyframes excited
  0%, 100%
    transform: translateX(calc(var(--amplitude) * 0))
  10%
    transform: translateX(calc(var(--amplitude) * -1))
  20%
    transform: translateX(calc(var(--amplitude) * 0.9))
  30%
    transform: translateX(calc(var(--amplitude) * -0.8))
  40%
    transform: translateX(calc(var(--amplitude) * 0.7))
  50%
    transform: translateX(calc(var(--amplitude) * -0.6))
  60%
    transform: translateX(calc(var(--amplitude) * 0.5))
  70%
    transform: translateX(calc(var(--amplitude) * -0.4))
  80%
    transform: translateX(calc(var(--amplitude) * 0.3))
  90%
    transform: translateX(calc(var(--amplitude) * -0.2))

@keyframes across
  0%
    transform: translateX(0%)
  100%
    transform: translateX(-100%)

@keyframes push-left
  0%, 50%, 100%
    transform-origin: center center
  0%
    transform: scale(1) translateX(0)
    border-radius: 0
    animation-timing-function: var(--ease-brake)
  60%
    transform: scale(.5)
    border: var(--border-size) solid var(--border-color)
    border-radius: var(--regular-border-radius)
    animation-timing-function: var(--ease-peps)
  100%
    transform: scale(.5) translateX(200vw)

@keyframes push-right
  0%, 50%, 100%
    transform-origin: center center
  0%
    transform: scale(1) translateX(0)
    border-radius: 0
    animation-timing-function: var(--ease-brake)
  60%
    transform: scale(.5)
    border: var(--border-size) solid var(--border-color)
    border-radius: var(--regular-border-radius)
    animation-timing-function: var(--ease-peps)
  100%
    transform: scale(.5) translateX(-200vw)


// Pull transitions
.pull-down-enter-active,
.pull-down-leave-active,
.pull-up-enter-active,
.pull-up-leave-active
  transition: transform var(--duration-jogging) var(--ease-brake) !important

.pull-down-enter-from,
.pull-down-leave-to
  transform: translateY(-100%)

.pull-up-enter-from,
.pull-up-leave-to
  transform: translateY(100%)

// Push transitions
.push-left-enter-active
  animation: push-right var(--duration-jogging) reverse forwards

.push-left-leave-active
  animation: push-left var(--duration-jogging) backwards

.push-right-enter-active
  animation: push-left var(--duration-jogging) reverse forwards

.push-right-leave-active
  animation: push-right var(--duration-jogging) backwards

// Slide transitions
.slide-up-enter-active,
.slide-up-leave-active
  transition: transform var(--duration-jogging) var(--ease-rebound), opacity var(--duration-running) ease

.slide-up-enter-from
  transform: translateY(var(--start-position))
  opacity: 0

.slide-up-leave-to
  transform: translateY(calc(var(--start-position) * -1))
  opacity: 0

// Fade transitions
.fade-enter-active,
.fade-leave-active
  transition: opacity var(--duration-turtoise) ease
  transition-delay: calc(var(--order) * var(--delay-late))

.fade-enter-from,
.fade-leave-to
  opacity: 0

// Scale transitions
.scale-up-enter-active,
.scale-up-leave-active,
.scale-down-enter-active,
.scale-down-leave-active
  transition: transform var(--duration-turtoise) var(--ease-peps), opacity var(--duration-jogging) ease
  transform-origin: 50vw 50vh

.scale-down-enter-from,
.scale-down-leave-to
  transform: scale(1.2)
  opacity: 0

.scale-up-enter-from,
.scale-up-leave-to
  transform: scale(0.8)
  opacity: 0

// Switch transitions
.switch-enter-active,
.switch-leave-active
  transform-origin: center center

.switch-enter-active
  transition: transform var(--duration-running) var(--ease-rebound), opacity var(--duration-hare) ease !important

.switch-leave-active
  transition: transform var(--duration-running) var(--ease-inverted-rebound), opacity var(--duration-running) ease !important

.switch-enter-from,
.switch-leave-to
  opacity: 0

.switch-enter-from
  transform: translateY(100%)

.switch-leave-to
  transform: translateY(100%)
