// nG⚡️ Design System﹒Flash﹒Animation

@keyframes excited
  0%, 100%
    transform: translateX(calc(var(--amplitude) * 0))
  10%
    transform: translateX(calc(var(--amplitude) * -1))
  20%
    transform: translateX(calc(var(--amplitude) * 0.9))
  30%
    transform: translateX(calc(var(--amplitude) * -0.8))
  40%
    transform: translateX(calc(var(--amplitude) * 0.7))
  50%
    transform: translateX(calc(var(--amplitude) * -0.6))
  60%
    transform: translateX(calc(var(--amplitude) * 0.5))
  70%
    transform: translateX(calc(var(--amplitude) * -0.4))
  80%
    transform: translateX(calc(var(--amplitude) * 0.3))
  90%
    transform: translateX(calc(var(--amplitude) * -0.2))
