body, a, svg, button {
  cursor: none
}

#cursor {
  position: fixed;
  z-index: 99;
  pointer-events: none;
  transform-origin: 50%;
  transform: scale(0);
  transition: transform 200ms cubic-bezier(.86, .12, .12, .86);
}