body, a, svg, button {
  cursor: none
}

#cursor {
  position: fixed;
  z-index: 99;
  pointer-events: none;
  transform-origin: 50%;
  visibility: hidden;
  transition: transform 400ms cubic-bezier(.86, .12, .12, .86);
}